@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.custom-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; /* Espacement entre les éléments */
    width: 500px;
    max-width: 400px;
    margin: 20px auto; /* Centrer le formulaire */
    padding: 20px;
    border-radius: 50px;
}

/* Style des champs input */
.form-input {
    width: 100%;
    padding: 10px;
    background-color: transparent !important;
    font-family: 'Anonymous Pro', monospace;
    border-color: #4CAF50;
    color: black;
    border-radius: 60px;
    font-size: 15px;
    outline: none;

}
.form-button-ms-4{
    width: 95%;
    font-family: 'Anonymous Pro', monospace;
    padding: 12px;
    background: white;
    font-size: 15px;
    font-weight: bold;
    border: #4CAF50;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s;

}



/* Style du bouton */
.form-button {
    width: 95%;
    font-family: 'Anonymous Pro', monospace;
    padding: 12px;
    background: #4CAF50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s;
}

#filtreCovoiturage {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filtre-button{
    background-color: transparent !important;
    font-family: 'Anonymous Pro', monospace;
    border-color: #4CAF50;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.filterSelection{
    background-color: #4CAF50;
}

.filtre-button input {
    border: none;
    text-align: center;
    font-size: 14px;
    width: 60px;
    margin-top: 5px;
}

input {
    background-color: transparent !important;
}

@media (min-width: 768px) {
    .container {
      font-size: 18px;
      max-width: 720px;
      margin: 0 auto;
    }
  }

  /* Desktop (min-width: 1024px) */
  @media (min-width: 1024px) {
    .container {
      font-size: 20px;
      max-width: 960px;
    }
  }